.circular-wrapper {
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  /*Set the right and left margins to auto to center the block.*/
  margin: 0 auto;

  /* Maintain square image aspect ratio even if image is rectangular. */
  width: 70%;
  aspect-ratio: 1/1;
}

.circular-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /*Display the border as a solid line around the element.*/
  border-style: solid;
  /*Make the border of medium thickness.*/
  border-width: medium;
}
