:root {
  /* The proportion makes the slider bigger or smaller. */
  --proportion: 0.5;
}

.container {
  /* Do not display switch in a separate line. */
  display: inline-block;
}

/* Switch */
.switch {
  /* Display label as a container of a given height and width. */
  display: inline-block;

  /* Add margins to the left and the right of the switch. */
  margin: 0 1em;

  position: relative;

  /* Define the length of the switch. */
  width: calc(var(--proportion) * 3em);
  /* Define the height of the switch. */
  height: calc(var(--proportion) * 1.5em);

  /* Create the upper and bottom borders. */
  /* border-block-style: solid; */
  /* Create the left and right borders. */
  /* border-inline-style: solid; */
  /* Define a border color and apply it to all sides. */
  /* --border-color: gray; */
  /* Change color of upper and bottom borders. */
  /* border-block-color: var(--border-color); */
  /* Change color of left and right borders. */
  /* border-inline-color: var(--border-color); */
  /* Round the outer border. */
  /* border-radius: 34px; */
}

/* Checkbox square. */
.switch input {
  /* Hide the checkbox square. */
  display: none;
}

/* Transitions must be deactivated while the page loads because they are
  distracting. */
.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

/* Slider circle container. */
.slider {
  /* Define the color of the container. */
  background-color: black;

  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  cursor: pointer;
  position: absolute;

  /* Make the slider circle container change colors smoothly. */
  transition: 0.4s;
}

/* Slider circle. */
.slider:before {
  /* Define the initial color of the slider circle. */
  background-color: #fff;
  /* Lift the slider circle to create a small gap at the bottom. */
  bottom: calc(var(--proportion) * 0.25em);
  /* Move the slider circle to create a small gap on the left side. */
  left: calc(var(--proportion) * 0.25em);
  /* Do not include text in the slider circle. */
  content: "";
  /* Define the height of the slider circle. */
  height: calc(var(--proportion) * 1em);
  /* Define the width of the slider circle. */
  width: calc(var(--proportion) * 1em);

  position: absolute;

  /* Transitions make the circle slider slide smoothly. The circle slider should
  inherit its transition speed from its parent, the slider, so that transitions
  can be deactivated or activated simultaneously. */
  transition: inherit;
}

input:checked + .slider {
  background-color: white;
}

input:checked + .slider:before {
  /* Move the slider circle to the left when clicked. */
  transform: translateX(calc(var(--proportion) * 1.5em));
  /* Change the color of the slider circle when clicked.  */
  background-color: black;
}

.slider.round {
  /* Make the slider container round, otherwise it appears as a rectangle. */
  border-radius: 34px;
}

.slider.round:before {
  /* Make slider a circle. Without it, it appears as a square. */
  border-radius: 50%;
}
